<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>App name</title>
    <link rel="stylesheet" href="../frontend/css/dashboard_user.css">
    <script src = "/socket.io/socket.io.js"></script>
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
    
</head>
<body>
<div class="ham__items">
    <?xml version="1.0" encoding="iso-8859-1"?>
    <!-- Generator: Adobe Illustrator 19.0.0, SVG Export Plug-In . SVG Version: 6.00 Build 0)  -->
    <svg id="close" version="1.1" width="18px" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px"
        y="0px" viewBox="0 0 512.001 512.001" style="enable-background:new 0 0 512.001 512.001;" xml:space="preserve">
        <g>
            <g>
                <path d="M284.286,256.002L506.143,34.144c7.811-7.811,7.811-20.475,0-28.285c-7.811-7.81-20.475-7.811-28.285,0L256,227.717
    			L34.143,5.859c-7.811-7.811-20.475-7.811-28.285,0c-7.81,7.811-7.811,20.475,0,28.285l221.857,221.857L5.858,477.859
    			c-7.811,7.811-7.811,20.475,0,28.285c3.905,3.905,9.024,5.857,14.143,5.857c5.119,0,10.237-1.952,14.143-5.857L256,284.287
    			l221.857,221.857c3.905,3.905,9.024,5.857,14.143,5.857s10.237-1.952,14.143-5.857c7.811-7.811,7.811-20.475,0-28.285
    			L284.286,256.002z" />
            </g>
        </g>
        <g>
        </g>
        <g>
        </g>
        <g>
        </g>
        <g>
        </g>
        <g>
        </g>
        <g>
        </g>
        <g>
        </g>
        <g>
        </g>
        <g>
        </g>
        <g>
        </g>
        <g>
        </g>
        <g>
        </g>
        <g>
        </g>
        <g>
        </g>
        <g>
        </g>
    </svg>
    <div class="ham__items__btn">
        <div class="ham__search">
            <svg width="18px" aria-hidden="true" focusable="false" data-prefix="fas" data-icon="search"
                class="svg-inline--fa fa-search fa-w-16" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512">
                <path fill="white"
                    d="M505 442.7L405.3 343c-4.5-4.5-10.6-7-17-7H372c27.6-35.3 44-79.7 44-128C416 93.1 322.9 0 208 0S0 93.1 0 208s93.1 208 208 208c48.3 0 92.7-16.4 128-44v16.3c0 6.4 2.5 12.5 7 17l99.7 99.7c9.4 9.4 24.6 9.4 33.9 0l28.3-28.3c9.4-9.4 9.4-24.6.1-34zM208 336c-70.7 0-128-57.2-128-128 0-70.7 57.2-128 128-128 70.7 0 128 57.2 128 128 0 70.7-57.2 128-128 128z">
                </path>
            </svg>
            <a href="#">Search</a>
        </div>
        <div class="ham__profile">
            <svg width="18px" aria-hidden="true" focusable="false" data-prefix="fas" data-icon="user-alt"
                class="svg-inline--fa fa-user-alt fa-w-16" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512">
                <path fill="white"
                    d="M256 288c79.5 0 144-64.5 144-144S335.5 0 256 0 112 64.5 112 144s64.5 144 144 144zm128 32h-55.1c-22.2 10.2-46.9 16-72.9 16s-50.6-5.8-72.9-16H128C57.3 320 0 377.3 0 448v16c0 26.5 21.5 48 48 48h416c26.5 0 48-21.5 48-48v-16c0-70.7-57.3-128-128-128z">
                </path>
            </svg>
            <span class="profile__btn">Profile</span>
        </div>
    </div>
    
</div>
<div class="profile__tab hide ">
    <div class="profile__tab__close__div">
    <?xml version="1.0" encoding="iso-8859-1"?>
    <!-- Generator: Adobe Illustrator 19.0.0, SVG Export Plug-In . SVG Version: 6.00 Build 0)  -->
    <svg id="profile__tab__close" version="1.1" width="28px" id="Capa_1" xmlns="http://www.w3.org/2000/svg"
        xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 512.001 512.001"
        style="enable-background:new 0 0 512.001 512.001;" xml:space="preserve">
        <g>
            <g>
                <path d="M284.286,256.002L506.143,34.144c7.811-7.811,7.811-20.475,0-28.285c-7.811-7.81-20.475-7.811-28.285,0L256,227.717
        			L34.143,5.859c-7.811-7.811-20.475-7.811-28.285,0c-7.81,7.811-7.811,20.475,0,28.285l221.857,221.857L5.858,477.859
        			c-7.811,7.811-7.811,20.475,0,28.285c3.905,3.905,9.024,5.857,14.143,5.857c5.119,0,10.237-1.952,14.143-5.857L256,284.287
        			l221.857,221.857c3.905,3.905,9.024,5.857,14.143,5.857s10.237-1.952,14.143-5.857c7.811-7.811,7.811-20.475,0-28.285
        			L284.286,256.002z" />
            </g>
        </g>
        <g>
        </g>
        <g>
        </g>
        <g>
        </g>
        <g>
        </g>
        <g>
        </g>
        <g>
        </g>
        <g>
        </g>
        <g>
        </g>
        <g>
        </g>
        <g>
        </g>
        <g>
        </g>
        <g>
        </g>
        <g>
        </g>
        <g>
        </g>
        <g>
        </g>
    </svg>
    </div>
    <!-- <div class="profile__tab__img"></div> -->
    <div class="profile__tab__content">
        <svg width="150px" aria-hidden="true" focusable="false" data-prefix="fas" data-icon="user-alt"
            class="svg-inline--fa fa-user-alt fa-w-16" role="img" xmlns="http://www.w3.org/2000/svg"
            viewBox="0 0 512 512">
            <path fill="white"
                d="M256 288c79.5 0 144-64.5 144-144S335.5 0 256 0 112 64.5 112 144s64.5 144 144 144zm128 32h-55.1c-22.2 10.2-46.9 16-72.9 16s-50.6-5.8-72.9-16H128C57.3 320 0 377.3 0 448v16c0 26.5 21.5 48 48 48h416c26.5 0 48-21.5 48-48v-16c0-70.7-57.3-128-128-128z">
            </path>
        </svg>
        <div class="profile__tab__content_arng"><div class="pro_tab profile__tab__name"><%= profile.name %></div>
        
        <div class="pro_tab profile__tab__email"><%= profile.email %></div>
        <div class="pro_tab profile__tab__mob"> <%= profile.phone %></div>
        
        <div class="pro_tab profile__tab__pastOrder"> Past Orders</div></div>
       
    </div>
</div>
    <div class="container">
        
        <nav>
            <a href="/">
                <div class="brand">
                    <img width="35px" src="../frontend/images/brand-icon.png" alt="" srcset="">
                    <p>Food<span class="orange"><b>Ex</b></span></p>
                </div>
            </a>
            
            <a href="/search"></a>
            <div class="nav__right">
                <div class="search">
                <svg width="18px"aria-hidden="true" focusable="false" data-prefix="fas" data-icon="search" class="svg-inline--fa fa-search fa-w-16"
                    role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512">
                    <path fill="white"
                        d="M505 442.7L405.3 343c-4.5-4.5-10.6-7-17-7H372c27.6-35.3 44-79.7 44-128C416 93.1 322.9 0 208 0S0 93.1 0 208s93.1 208 208 208c48.3 0 92.7-16.4 128-44v16.3c0 6.4 2.5 12.5 7 17l99.7 99.7c9.4 9.4 24.6 9.4 33.9 0l28.3-28.3c9.4-9.4 9.4-24.6.1-34zM208 336c-70.7 0-128-57.2-128-128 0-70.7 57.2-128 128-128 70.7 0 128 57.2 128 128 0 70.7-57.2 128-128 128z">
                    </path>
                </svg>
                Search
            </div>
            </a>
            <div class="profile">
                <svg width="18px" aria-hidden="true" focusable="false" data-prefix="fas" data-icon="user-alt"
                    class="svg-inline--fa fa-user-alt fa-w-16" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512">
                    <path fill="white"
                        d="M256 288c79.5 0 144-64.5 144-144S335.5 0 256 0 112 64.5 112 144s64.5 144 144 144zm128 32h-55.1c-22.2 10.2-46.9 16-72.9 16s-50.6-5.8-72.9-16H128C57.3 320 0 377.3 0 448v16c0 26.5 21.5 48 48 48h416c26.5 0 48-21.5 48-48v-16c0-70.7-57.3-128-128-128z">
                    </path>
                </svg>
                <span class="profile__btn">Profile</span>
            </div>
            
                
        </div>
            <div class="ham">
                <svg width="52" height="29" viewBox="0 0 82 29" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <line y1="2" x2="82" y2="2" stroke="black" stroke-width="4" />
                    <line y1="13.3333" x2="82" y2="13.3333" stroke="black" stroke-width="4" />
                    <path d="M0 26.5H82" stroke="black" stroke-width="4" />
                </svg>
            
            </div>
        </nav>

        <!--  -->
            <!-- <div class="header__balls">
                <svg  id="ball__1" width="33" height="32" viewBox="0 0 33 32" fill="none"
                    xmlns="http://www.w3.org/2000/svg">
                    <path
                        d="M16.083 32C24.9196 32 32.083 24.8366 32.083 16C32.083 7.16344 24.9196 0 16.083 0C7.24645 0 0.0830078 7.16344 0.0830078 16C0.0830078 24.8366 7.24645 32 16.083 32Z"
                        fill="#C4F236" />
                    <path
                        d="M16.0828 8.00021C16.098 5.2671 16.823 2.58482 18.1868 0.216214C17.4913 0.0955752 16.7883 0.0234018 16.0828 0.000214151C13.2602 -0.0143876 10.484 0.717959 8.0359 2.12293C5.5878 3.52791 3.55494 5.5555 2.14362 7.99995C0.732308 10.4444 -0.00723149 13.2187 5.33025e-05 16.0413C0.00733809 18.8639 0.761191 21.6343 2.1851 24.0715C3.60902 26.5086 5.65231 28.5257 8.10763 29.918C10.5629 31.3103 13.3429 32.0283 16.1654 31.9991C18.9878 31.97 21.7523 31.1947 24.1784 29.7519C26.6044 28.3091 28.6055 26.2503 29.9788 23.7842C26.1417 23.2872 22.6163 21.412 20.0597 18.5079C17.503 15.6039 16.0895 11.8693 16.0828 8.00021Z"
                        fill="#A1D51C" />
                </svg>
                <svg width="33" class="header__balls" id="ball--2" height="32" viewBox="0 0 33 32" fill="none"
                    xmlns="http://www.w3.org/2000/svg">
                    <path
                        d="M16.083 32C24.9196 32 32.083 24.8366 32.083 16C32.083 7.16344 24.9196 0 16.083 0C7.24645 0 0.0830078 7.16344 0.0830078 16C0.0830078 24.8366 7.24645 32 16.083 32Z"
                        fill="#C4F236" />
                    <path
                        d="M16.0828 8.00021C16.098 5.2671 16.823 2.58482 18.1868 0.216214C17.4913 0.0955752 16.7883 0.0234018 16.0828 0.000214151C13.2602 -0.0143876 10.484 0.717959 8.0359 2.12293C5.5878 3.52791 3.55494 5.5555 2.14362 7.99995C0.732308 10.4444 -0.00723149 13.2187 5.33025e-05 16.0413C0.00733809 18.8639 0.761191 21.6343 2.1851 24.0715C3.60902 26.5086 5.65231 28.5257 8.10763 29.918C10.5629 31.3103 13.3429 32.0283 16.1654 31.9991C18.9878 31.97 21.7523 31.1947 24.1784 29.7519C26.6044 28.3091 28.6055 26.2503 29.9788 23.7842C26.1417 23.2872 22.6163 21.412 20.0597 18.5079C17.503 15.6039 16.0895 11.8693 16.0828 8.00021Z"
                        fill="#A1D51C" />
                </svg>
                <svg id="ball--3" width="33" height="33" viewBox="0 0 33 33" fill="none"
                    xmlns="http://www.w3.org/2000/svg">
                    <path
                        d="M16.083 32C24.9196 32 32.083 24.8366 32.083 16C32.083 7.16344 24.9196 0 16.083 0C7.24645 0 0.0830078 7.16344 0.0830078 16C0.0830078 24.8366 7.24645 32 16.083 32Z"
                        fill="#F9E109" />
                    <path
                        d="M24.0828 24.0004C21.408 24.0115 18.7735 23.3491 16.422 22.0744C14.0705 20.7996 12.0777 18.9535 10.6273 16.7061C9.17683 14.4587 8.31541 11.8823 8.12239 9.21452C7.92938 6.54669 8.41098 3.8732 9.52281 1.44043C7.15017 2.49522 5.06989 4.1116 3.46153 6.15003C1.85318 8.18847 0.765077 10.5877 0.291186 13.1406C-0.182706 15.6936 -0.0281333 18.3235 0.741503 20.8033C1.51114 23.2832 2.87273 25.5385 4.70876 27.3745C6.54479 29.2105 8.80007 30.5721 11.2799 31.3418C13.7598 32.1114 16.3897 32.2659 18.9426 31.792C21.4955 31.3182 23.8948 30.2301 25.9332 28.6217C27.9716 27.0134 29.588 24.9331 30.6428 22.5604C28.5834 23.5015 26.347 23.9924 24.0828 24.0004Z"
                        fill="#FCBC04" />
                </svg>
                <svg  id="ball--4" width="33" height="33" viewBox="0 0 33 33" fill="none"
                    xmlns="http://www.w3.org/2000/svg">
                    <path
                        d="M16.083 32C24.9196 32 32.083 24.8366 32.083 16C32.083 7.16344 24.9196 0 16.083 0C7.24645 0 0.0830078 7.16344 0.0830078 16C0.0830078 24.8366 7.24645 32 16.083 32Z"
                        fill="#F9E109" />
                    <path
                        d="M24.0828 24.0004C21.408 24.0115 18.7735 23.3491 16.422 22.0744C14.0705 20.7996 12.0777 18.9535 10.6273 16.7061C9.17683 14.4587 8.31541 11.8823 8.12239 9.21452C7.92938 6.54669 8.41098 3.8732 9.52281 1.44043C7.15017 2.49522 5.06989 4.1116 3.46153 6.15003C1.85318 8.18847 0.765077 10.5877 0.291186 13.1406C-0.182706 15.6936 -0.0281333 18.3235 0.741503 20.8033C1.51114 23.2832 2.87273 25.5385 4.70876 27.3745C6.54479 29.2105 8.80007 30.5721 11.2799 31.3418C13.7598 32.1114 16.3897 32.2659 18.9426 31.792C21.4955 31.3182 23.8948 30.2301 25.9332 28.6217C27.9716 27.0134 29.588 24.9331 30.6428 22.5604C28.5834 23.5015 26.347 23.9924 24.0828 24.0004Z"
                        fill="#FCBC04" />
                </svg>
                <svg  id="ball--5" width="49" height="48" viewBox="0 0 49 48" fill="none"
                    xmlns="http://www.w3.org/2000/svg">
                    <path
                        d="M24.083 48C37.3378 48 48.083 37.2548 48.083 24C48.083 10.7452 37.3378 0 24.083 0C10.8282 0 0.0830078 10.7452 0.0830078 24C0.0830078 37.2548 10.8282 48 24.083 48Z"
                        fill="#F8664F" />
                    <path
                        d="M40.0014 31.88C36.2479 31.931 32.536 31.0889 29.1719 29.4232C25.8078 27.7574 22.8879 25.3157 20.6531 22.2995C18.4183 19.2833 16.9326 15.779 16.3186 12.0757C15.7045 8.37234 15.9797 4.57607 17.1214 1C13.146 2.18067 9.54547 4.37396 6.67278 7.36494C3.80008 10.3559 1.75378 14.0419 0.734391 18.0618C-0.284997 22.0816 -0.242479 26.2974 0.857773 30.2958C1.95802 34.2943 4.07826 37.9383 7.0107 40.8708C9.94313 43.8032 13.5871 45.9234 17.5856 47.0237C21.5841 48.1239 25.7998 48.1665 29.8197 47.1471C33.8395 46.1277 37.5255 44.0814 40.5165 41.2087C43.5075 38.336 45.7008 34.7355 46.8815 30.76C44.6553 31.4681 42.3372 31.8454 40.0014 31.88Z"
                        fill="#CC5144" />
                </svg>
            </div>
            -->
<!-- if we get some time will beautify this part using food vectors and balls -->
<div class="header__image">
            <img src="../frontend/images/cheese-pizza.jpg" alt="" srcset="">
            
            <div class="header__image__right">
                <p>Ordering is a <span class="orange">breeze</span>,</p>
                <p>so you can be at <span class="orange"> ease</span> ,</p>
                <p>and enjoy your pizza </p>
                <p>with <span class="orange">extra cheese</span></p>
                
            </div>
            
        </div>
        <div class="user__feed">
            <% data.rows.forEach(e => { %>
                <a href="/browse/<%= e.rid %>">
                <div class="rest__card">
                    <img width="229px" src="../frontend/images/rest_img_<%= e.rid %>.jpg" alt="">
                    <!-- <div class="rest__name"><a href="/browse/<%= e.rid %>"><%= e.rname %></a></div> -->
                    <div class="rest__name"><%= e.rname %></div>
                    <div class="rest__rating">
                        <svg width="15px" fill="white" id="Capa_1" enable-background="new 0 0 448.941 448.941"
                            viewBox="0 0 448.941 448.941" xmlns="http://www.w3.org/2000/svg">
                            <path
                                d="m448.941 168.353h-161.338l-63.132-168.353-63.132 168.353h-161.339l121.478 106.293-65.36 174.295 168.353-84.176 168.353 84.176-65.361-174.296z" />
                        </svg><%= e.rating %></div>
                    <div class="rest__category">
                        <p><%= e.category %></p>
                    </div>
                    <div class="rest__location"><%= e.address %></div>
                </div>
                </a>
            <% }); %>
    </div>


<!-- </div> -->
<!-- grid overflow problem with footer -->

        <!-- <footer >
            <p>© 2018-2020 - App Media Pvt Ltd. All rights reserved.</p>
        </footer> -->

    <script src="../frontend/js/jquery.min.js"></script>
   <script >
       function hamburg()
       { $('.container').toggleClass('blur');
        $('.ham__items').toggleClass('ham__unhide');
        // $('.ham__items').toggleClass('.ham__items');

        };

        $('#profile__tab__close').click(function(){
            $('.profile__tab').toggleClass('hide');
            $('.container').toggleClass('blur');

        })
        $('.profile ').click(function () {
                $('.profile__tab').toggleClass('hide');
                $('.container').toggleClass('blur');

            })
      
        $('.ham__profile ').click(function () {
                $('.profile__tab').toggleClass('hide');
                // $('.container').toggleClass('blur');
                $('.ham__items').toggleClass('ham__unhide');

            })
        
      $('.ham').click(hamburg);
      $('#close').click(hamburg);
   </script>
</body>
</html>