<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>App name</title>
    <link rel="stylesheet" href="../frontend/css/rest_dashboard.css">
    <script src = "/socket.io/socket.io.js"></script>
   
   <script>
      var socket = io("/order");
   </script>
</head>

<body>
    <div class="ham__items">
        <?xml version="1.0" encoding="iso-8859-1"?>
        <!-- Generator: Adobe Illustrator 19.0.0, SVG Export Plug-In . SVG Version: 6.00 Build 0)  -->
        <svg id="close" version="1.1" width="18px" id="Capa_1" xmlns="http://www.w3.org/2000/svg"
            xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 512.001 512.001"
            style="enable-background:new 0 0 512.001 512.001;" xml:space="preserve">
            <g>
                <g>
                    <path d="M284.286,256.002L506.143,34.144c7.811-7.811,7.811-20.475,0-28.285c-7.811-7.81-20.475-7.811-28.285,0L256,227.717
    			L34.143,5.859c-7.811-7.811-20.475-7.811-28.285,0c-7.81,7.811-7.811,20.475,0,28.285l221.857,221.857L5.858,477.859
    			c-7.811,7.811-7.811,20.475,0,28.285c3.905,3.905,9.024,5.857,14.143,5.857c5.119,0,10.237-1.952,14.143-5.857L256,284.287
    			l221.857,221.857c3.905,3.905,9.024,5.857,14.143,5.857s10.237-1.952,14.143-5.857c7.811-7.811,7.811-20.475,0-28.285
    			L284.286,256.002z" />
                </g>
            </g>
            <g>
            </g>
            <g>
            </g>
            <g>
            </g>
            <g>
            </g>
            <g>
            </g>
            <g>
            </g>
            <g>
            </g>
            <g>
            </g>
            <g>
            </g>
            <g>
            </g>
            <g>
            </g>
            <g>
            </g>
            <g>
            </g>
            <g>
            </g>
            <g>
            </g>
        </svg>
        <div class="ham__items__btn">
            <div class="ham__search">
                <svg width="18px" aria-hidden="true" focusable="false" data-prefix="fas" data-icon="search"
                    class="svg-inline--fa fa-search fa-w-16" role="img" xmlns="http://www.w3.org/2000/svg"
                    viewBox="0 0 512 512">
                    <path fill="white"
                        d="M505 442.7L405.3 343c-4.5-4.5-10.6-7-17-7H372c27.6-35.3 44-79.7 44-128C416 93.1 322.9 0 208 0S0 93.1 0 208s93.1 208 208 208c48.3 0 92.7-16.4 128-44v16.3c0 6.4 2.5 12.5 7 17l99.7 99.7c9.4 9.4 24.6 9.4 33.9 0l28.3-28.3c9.4-9.4 9.4-24.6.1-34zM208 336c-70.7 0-128-57.2-128-128 0-70.7 57.2-128 128-128 70.7 0 128 57.2 128 128 0 70.7-57.2 128-128 128z">
                    </path>
                </svg>
                <a href="#">Search</a>
            </div>
            <div class="ham__profile">
                <svg width="18px" aria-hidden="true" focusable="false" data-prefix="fas" data-icon="user-alt"
                    class="svg-inline--fa fa-user-alt fa-w-16" role="img" xmlns="http://www.w3.org/2000/svg"
                    viewBox="0 0 512 512">
                    <path fill="white"
                        d="M256 288c79.5 0 144-64.5 144-144S335.5 0 256 0 112 64.5 112 144s64.5 144 144 144zm128 32h-55.1c-22.2 10.2-46.9 16-72.9 16s-50.6-5.8-72.9-16H128C57.3 320 0 377.3 0 448v16c0 26.5 21.5 48 48 48h416c26.5 0 48-21.5 48-48v-16c0-70.7-57.3-128-128-128z">
                    </path>
                </svg>
                <span class="profile__btn">Profile</span>
            </div>
        </div>

    </div>
    <div class="profile__tab hide ">
        <div class="profile__tab__close__div">
            <?xml version="1.0" encoding="iso-8859-1"?>
            <!-- Generator: Adobe Illustrator 19.0.0, SVG Export Plug-In . SVG Version: 6.00 Build 0)  -->
            <svg id="profile__tab__close" version="1.1" width="28px" id="Capa_1" xmlns="http://www.w3.org/2000/svg"
                xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 512.001 512.001"
                style="enable-background:new 0 0 512.001 512.001;" xml:space="preserve">
                <g>
                    <g>
                        <path d="M284.286,256.002L506.143,34.144c7.811-7.811,7.811-20.475,0-28.285c-7.811-7.81-20.475-7.811-28.285,0L256,227.717
        			L34.143,5.859c-7.811-7.811-20.475-7.811-28.285,0c-7.81,7.811-7.811,20.475,0,28.285l221.857,221.857L5.858,477.859
        			c-7.811,7.811-7.811,20.475,0,28.285c3.905,3.905,9.024,5.857,14.143,5.857c5.119,0,10.237-1.952,14.143-5.857L256,284.287
        			l221.857,221.857c3.905,3.905,9.024,5.857,14.143,5.857s10.237-1.952,14.143-5.857c7.811-7.811,7.811-20.475,0-28.285
        			L284.286,256.002z" />
                    </g>
                </g>
                <g>
                </g>
                <g>
                </g>
                <g>
                </g>
                <g>
                </g>
                <g>
                </g>
                <g>
                </g>
                <g>
                </g>
                <g>
                </g>
                <g>
                </g>
                <g>
                </g>
                <g>
                </g>
                <g>
                </g>
                <g>
                </g>
                <g>
                </g>
                <g>
                </g>
            </svg>
        </div>
        <!-- <div class="profile__tab__img"></div> -->
        <div class="profile__tab__content">
            <svg width="150px" aria-hidden="true" focusable="false" data-prefix="fas" data-icon="user-alt"
                class="svg-inline--fa fa-user-alt fa-w-16" role="img" xmlns="http://www.w3.org/2000/svg"
                viewBox="0 0 512 512">
                <path fill="white"
                    d="M256 288c79.5 0 144-64.5 144-144S335.5 0 256 0 112 64.5 112 144s64.5 144 144 144zm128 32h-55.1c-22.2 10.2-46.9 16-72.9 16s-50.6-5.8-72.9-16H128C57.3 320 0 377.3 0 448v16c0 26.5 21.5 48 48 48h416c26.5 0 48-21.5 48-48v-16c0-70.7-57.3-128-128-128z">
                </path>
            </svg>
            <div class="profile__tab__content_arng">
                <div class="pro_tab profile__tab__name"><%= profile.name %></div>
                <div class="pro_tab profile__tab__email"><%= profile.email %></div>
                <div class="pro_tab profile__tab__mob"><%= profile.phone %></div>

                <div class="pro_tab profile__tab__pastOrder">Edit Profile</div>
            </div>

        </div>
    </div>
    <div class="container ">

        <nav>
            <div class="brand">
                <img width="35px" src="../frontend/images/brand-icon.png" alt="" srcset="">
                <p>Food<span class="orange">Captain</span></p>

            </div>

            <div class="nav__right">
                <div class="search">
                    <svg width="18px" aria-hidden="true" focusable="false" data-prefix="fas" data-icon="search"
                        class="svg-inline--fa fa-search fa-w-16" role="img" xmlns="http://www.w3.org/2000/svg"
                        viewBox="0 0 512 512">
                        <path fill="white"
                            d="M505 442.7L405.3 343c-4.5-4.5-10.6-7-17-7H372c27.6-35.3 44-79.7 44-128C416 93.1 322.9 0 208 0S0 93.1 0 208s93.1 208 208 208c48.3 0 92.7-16.4 128-44v16.3c0 6.4 2.5 12.5 7 17l99.7 99.7c9.4 9.4 24.6 9.4 33.9 0l28.3-28.3c9.4-9.4 9.4-24.6.1-34zM208 336c-70.7 0-128-57.2-128-128 0-70.7 57.2-128 128-128 70.7 0 128 57.2 128 128 0 70.7-57.2 128-128 128z">
                        </path>
                    </svg>
                    <a href="#">Search</a>
                </div>
                <div class="profile">
                    <svg width="18px" aria-hidden="true" focusable="false" data-prefix="fas" data-icon="user-alt"
                        class="svg-inline--fa fa-user-alt fa-w-16" role="img" xmlns="http://www.w3.org/2000/svg"
                        viewBox="0 0 512 512">
                        <path fill="white"
                            d="M256 288c79.5 0 144-64.5 144-144S335.5 0 256 0 112 64.5 112 144s64.5 144 144 144zm128 32h-55.1c-22.2 10.2-46.9 16-72.9 16s-50.6-5.8-72.9-16H128C57.3 320 0 377.3 0 448v16c0 26.5 21.5 48 48 48h416c26.5 0 48-21.5 48-48v-16c0-70.7-57.3-128-128-128z">
                        </path>
                    </svg>
                    <span class="profile__btn">Profile</span>
                </div>


            </div>
            <div class="ham">
                <svg width="52" height="29" viewBox="0 0 82 29" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <line y1="2" x2="82" y2="2" stroke="black" stroke-width="4" />
                    <line y1="13.3333" x2="82" y2="13.3333" stroke="black" stroke-width="4" />
                    <path d="M0 26.5H82" stroke="black" stroke-width="4" />
                </svg>

            </div>
        </nav>
        <div class="rest__dis">
            <div class="rest__dis__image">

                <img height="150px " width="230px" src="../frontend/images/rest_card_1.jpg" alt="" srcset="">
            </div>
            <div class="rest__dis__content">
                <div class="rest__dis__name"><%= o[0].rname %></div>
                <div class="rest__dis__category"><%= o[0].category %></div>
                <div class="rest__dis__rating">
                    <svg width="15px" fill="white" id="Capa_1" enable-background="new 0 0 448.941 448.941"
                        viewBox="0 0 448.941 448.941" xmlns="http://www.w3.org/2000/svg">
                        <path
                            d="m448.941 168.353h-161.338l-63.132-168.353-63.132 168.353h-161.339l121.478 106.293-65.36 174.295 168.353-84.176 168.353 84.176-65.361-174.296z" />
                    </svg>4.5</div>
                <div class="line1"></div>
                <div class="rest__dis__location">
                    Lorem ipsum dolor sit amet consectetur, adipisicing elit. Amet, quia.
                </div>


            </div>
            <div class="cart__icon">
                <svg width="60" height="40" viewBox="0 0 168 112" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <g clip-path="url(#clip0)">
                        <path
                            d="M166.779 18.7607C165.782 17.9627 164.301 17.5007 162.748 17.5007H35.2795C33.652 17.5007 32.1085 18.0047 31.1111 18.8657C30.1241 19.7337 29.7881 20.8537 30.2081 21.9037L47.0078 63.763C47.6273 65.303 49.7063 66.36 52.0792 66.36C52.1632 66.36 52.2577 66.36 52.3417 66.353L152.51 62.993C154.936 62.909 156.973 61.7261 157.414 60.1301L167.913 21.6307C168.197 20.6017 167.777 19.5517 166.779 18.7607Z"
                            fill="#FFC107" fill-opacity="0.9" />
                        <path
                            d="M131.248 52.5002C128.35 52.5002 125.998 50.9322 125.998 49.0002V35.0004C125.998 33.0685 128.35 31.5005 131.248 31.5005C134.146 31.5005 136.498 33.0685 136.498 35.0004V49.0002C136.498 50.9322 134.146 52.5002 131.248 52.5002Z"
                            fill="#FAFAFA" />
                        <path
                            d="M99.7485 52.5002C96.8505 52.5002 94.4985 50.9322 94.4985 49.0002V35.0004C94.4985 33.0685 96.8505 31.5005 99.7485 31.5005C102.646 31.5005 104.998 33.0685 104.998 35.0004V49.0002C104.998 50.9322 102.646 52.5002 99.7485 52.5002Z"
                            fill="#FAFAFA" />
                        <path
                            d="M68.2489 52.5002C65.351 52.5002 62.999 50.9322 62.999 49.0002V35.0004C62.999 33.0685 65.351 31.5005 68.2489 31.5005C71.1469 31.5005 73.4989 33.0685 73.4989 35.0004V49.0002C73.4989 50.9322 71.1469 52.5002 68.2489 52.5002Z"
                            fill="#FAFAFA" />
                        <path
                            d="M68.249 108.499C76.9474 108.499 83.9988 103.798 83.9988 97.9994C83.9988 92.2004 76.9474 87.4995 68.249 87.4995C59.5507 87.4995 52.4993 92.2004 52.4993 97.9994C52.4993 103.798 59.5507 108.499 68.249 108.499Z"
                            fill="#fff" fill-opacity="0.9" />
                        <path
                            d="M131.248 108.499C139.946 108.499 146.998 103.798 146.998 97.9994C146.998 92.2004 139.946 87.4995 131.248 87.4995C122.55 87.4995 115.498 92.2004 115.498 97.9994C115.498 103.798 122.55 108.499 131.248 108.499Z"
                            fill="#fff" fill-opacity="0.9" />
                        <path
                            d="M141.748 80.4998H57.7491C55.3656 80.4998 53.2867 79.4358 52.6777 77.9028L25.6826 10.5009H5.24992C2.35196 10.5009 0 8.93289 0 7.00092C0 5.06895 2.35196 3.50098 5.24992 3.50098H29.7145C32.098 3.50098 34.177 4.56496 34.786 6.09794L61.781 73.4999H141.748C144.646 73.4999 146.998 75.0678 146.998 76.9998C146.998 78.9318 144.646 80.4998 141.748 80.4998Z"
                            fill="#fff" fill-opacity="0.9" />
                    </g>
                    <defs>
                        <clipPath id="clip0">
                            <rect width="168" height="112" fill="white" />
                        </clipPath>
                    </defs>
                </svg>
            </div>


        </div>
        <div class="menu">

            <% o.forEach(order => { %>
                <div class="card">
                    <div class="card__left">
                        <img src="../frontend/images/rest_card_1.jpg" width="280px" alt="">
                    </div>
                    <div class="card__right">
                        <div class="rest__name">
                            #<%= order.oid %>
                        </div>
                        <div class="rest__category">
                            <%= order.otime %>
                        </div>
                        <div class="rest__dish__items">
                            <% Object.entries(order.items).forEach(dish => { %>
                                <div class="rest__dish">
                                    <span class="dish__name"><%= dish[0] %> <b>x<%= dish[1] %></b></span>
                                    <!-- <div class="dish__price">₹800</div> -->
                                </div>
                            <% }); %>
                        </div>
                        <div class="rest__total__price">
                            <span class="total__price__label">Total</span>
                            <div class="total__price">₹<%= order.amount %></div>
                        </div>
                    <div class="card__response__tab">
                        <a href="/rdashboard/accept/<%= order.oid %>"><button class="card__response__tab__accept">Accept Order</button></a>
                        <button class="card__response__tab__delivered">Delivered</button>
                        
                    </div>
                    </div>
                </div>
            <% }); %>

        </div>

      
      



    </div>
    <!-- grid overflow problem with footer -->

    <footer>
        <p>© 2018-2020 - App Media Pvt Ltd. All rights reserved.</p>
    </footer>

    <script src="../frontend/js/jquery.min.js"></script>
    <script>
        function hamburg() {
            $('.container').toggleClass('blur');
            $('.ham__items').toggleClass('ham__unhide');
            // $('.ham__items').toggleClass('.ham__items');

        };

        function xyz() {
            $('.profile__tab').toggleClass('hide');
            $('.container').toggleClass('blur');
        }
        function abc() {
            $('.profile__tab').toggleClass('hide');
            // $('.container').toggleClass('blur');
            $('.ham__items').toggleClass('ham__unhide');
        }


        $('#profile__tab__close').click(xyz);
        $('.profile ').click(xyz);

        $('.ham__profile ').click(abc);


        $('.ham').click(hamburg);
        $('#close').click(hamburg);

        $('.card__response__tab__accept').click(
            function (){
                $(this).css('display','none');
                
            }
        )
        
            $('.card__response__tab__delivered').click(
                function () {
                    console.log("eg");
                    $(this).text("✔ Delivered ");
                    $(this).attr("disabled","disabled");

                }
            )
      


    </script>
</body>

</html>